@import "tailwindcss";

body {
  font-family: "Alegreya Sans", sans-serif;
  /* color: #ff69335f; */
}

hr {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  height: 4px;
  background: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(12px) saturate(1.15);
  -webkit-backdrop-filter: blur(12px) saturate(1.15);
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.06);
}
